/* About */
@font-face {
  font-family: Cordia;
  src: url(../Fonts/Cordia\ New\ Bold.ttf);
}

#about {
	background: #f8f9fa;
	padding: 90px 0;
}

#about h2 {
	padding-bottom: 50px;
}

.about-row {
	display: flex;
}
.desarrollador{
  font-family: 30px;
}

.about-row-image img {
	height: 200px;
	padding-right: 90px;
  width: 200px;
}

#about hr {
	width: 60%;
	margin-bottom: 30px;
}
/* Skills */
#skills {
	padding: 90px 0;
}

#skills h2 {
	padding-bottom: 50px;
}

.skills-row {
	display: flex;
	padding-bottom: 50px;
}

.skills-row-left,
.skills-row-right {
	width: 50%;
	display: flex;
}

.skills-row-left-image,
.skills-row-right-image {
	width: 50%;
	text-align: right;
	padding-right: 50px;
}

.skills-row-left-image img,
.skills-row-right-image img {
	height: 100px;
}

/* Timeline */
#timeline {
	padding: 90px 0;
	background: #f8f9fa;
}

#timeline h2 {
	padding-bottom: 20px;
}

.timeline-row {
	display: flex;
	padding-bottom: 40px;
}

.timeline-row-tag {
	width: 50%;
	text-align: right;
	padding-right: 80px;
}
.timeline-row-text a{
  color: black;
}
.timeline-row-text a:hover{
color: aqua;
}
.timeline-row-text a:active{
color: crimson;
}
.timeline-row-tag p span {
	background: #0202027f;
	color: #fff;
	padding: 12px 30px;
	border-radius: 20px;
}
.parrafoDeMi{
  font-size: 30px;
  font-family: Cordia;
  text-align: justify;
}

